Django==1.7
Pygments==2.0.1
South==1.0.2
argparse==1.2.1
astroid==1.2.1
django-bootstrap3==5.0.2
django-extensions==1.4.9
django-extra-views==0.6.5
django-pdb==0.4.1
django-registration-redux==1.1
-e git://github.com/saltycrane/django-trace.git@445b845b12326d234422038ada96dd7dd7c33fdc#egg=django_trace-master
fancycompleter==0.4
gunicorn==19.1.1
logilab-common==0.62.1
pdbpp==0.7.2
psycopg2==2.5.4
pyrepl==0.8.4
six==1.9.0
wmctrl==0.1
wsgiref==0.1.2
yolk==0.4.3
