{% extends "base.html" %}
{% load i18n %}

{% block content %}


<form method="post" action="{% url 'spellweb:attemptsubmission' %}">
{% csrf_token %}
    <fieldset>
         <legend>Record your Attempts</legend>
        {{ formset.management_form }}
        <table>
        {% for form in formset %}
        <tr>
            <td>{{ form.word.value }}</td>
            {% if form.hint.strip %}
                <td>({{ form.hint.value }})</td>
            {% else %}
                <td>&nbsp;</td>
            {% endif %}
            <td>
                <label for="{{ form.success.id_for_label }}">Success?:</label> 
                <input id="{{ form.success.id_for_label }}" name="{{ form.success.html_name }}" type="checkbox" />
            <span>
            <input id="{{ form.wordid.id_for_wordid }}" name="{{ form.wordid.html_name }}" type="hidden" value="{{ form.wordid.value }}" />
            </td>
            </span>
            </p>
        </tr>
        {% endfor %}
        </table>
    </fieldset>
    <input class="spspbutton" type="submit" value="Submit Your Results" />
    <a href="{% url 'spellweb:index' %}"><button class="spspbutton" type="button">Cancel</button></a>
</form>
{% endblock %}
